Package: com.wangjinli.weekcountjb
Name: WeekCount
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jinli Wang
Author: Jinli Wang
Section: Tweaks
