Package: com.wangjinli.weekcountjb
Name: WeekCount
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Display week number in lock screen and today view!
Maintainer: Li
Author: Li
Section: Tweaks
